@CHARSET "UTF-8";
body{margin:0 auto; font:14px/1.5 '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB";background: #ffffff;}
body, div, dl, dt, dd, ul, ol, input, button, ul, li, p, form, h1, h2, h3, h4, h5, h6, table, tr, td, span,img,i,th,a,textarea{ margin:0; padding:0; outline:none; font-family: '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB"; font-weight: normal; behavior: url(pie.htc);}
img{ border:0;}
ul{ list-style:none;}
a{ color:#666; outline:none; cursor:pointer; text-decoration:none; font-size:14px;}
a:hover{ color:#ea5504;}
.clearfloat{ clear:both;}
.indent{ text-indent:28px;}
.fb { font-weight:bold; }
.tl { text-align:left; }
.tr { text-align:right; }
.tc { text-align:center; }
.fl { float:left; }
.fr { float:right; }
.cr{ color:#ea5504;}
.cg{ color:#060;}
.br{ border-right:#CCC 1px solid;}
.bga{ background:#e7e7e7}
.p8{ padding:8px;}
.p10{ padding:10px;}
.mt30{ margin-top:30px;}
.mr8{ margin-right:8px;}
.mr10{ margin-right:10px;}
.mr17{ margin-right:17px;}
.mr20{ margin-right:20px;}
.mr22{ margin-right:25px;}
.pl5{ padding-left:5px;}
.mL38{ margin-left:38px;}
.mb6{ margin-bottom:6px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.tin20{ text-indent:19px;}
.tin28{ text-indent:28px;}
.tin38{ text-indent:38px;}
.plr5{ padding:0 5px;}
.tita{ width:100%; height:35px; line-height:35px; text-indent:35px; background:url(../images/12.jpg) 11px 11px no-repeat;}
.titb{ width:100%; height:30px; line-height:30px; text-indent:30px; background:url(../images/bullet_1.gif) 11px 5px no-repeat; clear:both; margin-top:8px;}
.titc{ height:30px; line-height:30px; background:url(../images/tbg001.gif); clear:both;}
.titc i{ width:30px; height:30px; float:left; display:block; background:url(../images/icon3.png) -85px -38px no-repeat;}
.titd{ height:30px; line-height:30px; background:url(../images/tbg001.gif); clear:both; border:#ccc 1px solid;}
.titd i{ width:30px; height:30px; float:left; display:block; background:url(../images/icon3.png) -85px -38px no-repeat;}
.btn_300_50{ width:300px; height:50px; text-align:center; border-radius:5px; border:0; margin-bottom:10px; background:#55a1dd; font-size:24px; color:#FFF; cursor:pointer;} 
.btn_300_50:hover{ background:#4896d4;}
.landbox_ping .landbox_ping_ul7 .cf_btn_300_50{color:#ffffff; font-size:24px;}
.btn_240_50{ width:240px; height:50px; text-align:center;text-indent:0; border-radius:5px; border:0;margin-bottom:10px; background:#55a1dd; font-size:24px; color:#FFF; cursor:pointer;} 
.btn_240_50:hover{ background:#4896d4;} 
.btn_240_40{ width:240px; height:40px; text-align:center; border-radius:5px; border:0;margin-bottom:10px; background:#55a1dd; font-size:24px; color:#FFF; cursor:pointer;} 
.btn_240_40:hover{ background:#4896d4;} 
.btn_160_40{ width:160px; height:40px; text-align:center; border-radius:5px; border:0;margin-bottom:10px; background:#55a1dd; font-size:18px; color:#FFF; cursor:pointer;} 
.btn_160_40:hover{ background:#4896d4;} 
.btnc_160_40{ width:160px; height:40px; text-align:center; border-radius:5px; border:0;margin-bottom:10px; background:#9a9a9a; font-size:18px; color:#FFF; cursor:pointer;} 
.btnc_160_40:hover{ background:#908e8e;} 
.btn_252{ width: 252px; text-align:center;}
.w_menu{ height:40px; line-height:40px; border-bottom:#55a1dd 2px solid; text-indent:10px; font-size:18px; color:#3d3d3d; margin-bottom:30px;}
.w_menu li{ float:left; margin-right:20px; color:#3d3d3d;}
.w_menu li a{ font-size: 18px;}
.w_menu li a:hover,.w_active{color:#55a1dd; font-size: 18px;}
/*=======header开始=======*/
.header_wrapper{width:100%; height:70px; background:#FFF;}
.header{width:1000px; height:70px; margin:0 auto;}
.logo {float:left; width:235px; height:auto; margin:11px 0 0 0;}
.logo a img{ width:142px; height:51px; display:block; float:left; margin-right:10px;}
.logo span{ height:44px; line-height:44px; display:block; float:left; height:59px; color:#9A9A9A;}
.mainnav{ height:40px; font-size:15px; float:right; margin:16px 0 0 45px;}
.mainnav li{ float:left; width:90px; height:40px; line-height:40px; text-align:center;}
.mainnav li a{ color:#444; font-size:16px;}
.mainnav li a:hover,#selected{ color: #55a1dd;}
#mainnav_l4{ position:relative; border: 1px solid #fff; padding-right:12px; line-height: 38px;}
#mainnav_l4 span{ width:12px; height:9px; display:inline-block; background:url(../images/icon.png) -91px -77px no-repeat; position:absolute; top:17px; right:8px;}
#mainnav_l4:hover span{background:url(../images/icon.png) -106px -66px no-repeat;}
#mainnav_l4:hover{ border:#55a1dd 1px solid; border-bottom:none;}
#mainnav_l4:hover .sebnav{ display:block;}
.sebnav{ width:90px; position:absolute; top:39px; left:-1px; z-index:9999999999999; display:none; background:#124C96; border:#55a1dd 1px solid; border-top:0; padding-right:12px;}
.sebnav li a{ width:90px; height:40px; line-height:39px; display:block; background:#FFF; padding:0 6px;}
.sebnav li a:hover{ background:#55a1dd; color:#FFF; font-weight:bold;}
.user_login{ float:right;}
.user_login a{ font-size:14px; padding:0 8px; height:30px; line-height:30px; float:right; display:inline-block; color:#9A9A9A;}
.user_login a:hover{color:#f00;}
/*=======header结束=======*/
.container{ width:1000px; margin:10px auto;  padding-bottom:10px; color:#3d3d3d;}
/*=======脚部开始=======*/
.footer_wrapper{ width:100%; height:auto; background:#12283e; clear:both; overflow: hidden; padding:30px 0;}
.footer {width:1000px; margin:0 auto;}
.footer_lbox{ width:380px; float:left;}
.footer_lbox span{ display:block; width:90px; height:40px; background:url(../images/icon.png) 0 -55px no-repeat;}
.footer_lbox p{ color:#a8b3ba; margin:20px 0 0 0; clear:both; font-size:12px;}
.footer_lbox div{ height:70px; margin:10px 0;}
.footer_lbox_imgq{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) 0 0 no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgw{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) -101px 0 no-repeat;  margin:0 5px 5px 0}
.footer_lbox_imge{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) -202px 0 no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgr{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) 0 -41px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgt{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) -101px -41px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgy{ width:94px; height:34px; display:block; float:left; background:url(../images/anquan.png) -202px -41px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgq:hover{ background:url(../images/anquan.png) 0 -82px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgw:hover{ background:url(../images/anquan.png) -101px -82px no-repeat;  margin:0 5px 5px 0}
.footer_lbox_imge:hover{ background:url(../images/anquan.png) -202px -82px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgr:hover{ background:url(../images/anquan.png) 0 -123px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgt:hover{ background:url(../images/anquan.png) -101px -123px no-repeat; margin:0 5px 5px 0}
.footer_lbox_imgy:hover{ background:url(../images/anquan.png) -202px -123px no-repeat; margin:0 5px 5px 0}
.footer_lbox ul li{ float:left; margin:10px 20px 0 0; color:#a8b3ba; font-size:18px; text-indent:30px; cursor: pointer;}
.footer_lbox ul li:hover{ color: #f2f2f2;}
.footer_lbox_l1{ background:url(../images/icon.png) 0 -312px no-repeat;}
.footer_lbox_l2{ background:url(../images/icon.png) 0 -340px no-repeat;}
.footer_rbox{ width:600px; float:right;}
.footer_rbox_top{ height:172px;}
.footer_rbox_top ul{ width:161px; float:left;}
.footer_rbox_top ul li{ height:25px; line-height:25px;}
.footer_rbox_top ul li a{ color:#a8b3ba}
.footer_rbox_top ul li a:hover{color: #f2f2f2 ;}
.footer_tit{ color:#FFF !important; font-size:16px; font-weight:bold; margin-bottom:10px;}
.footer_tit a{ color:#FFF !important;}
.footer_rbox_top dl{ float:left;}
.footer_rbox_top dl dt{ margin-bottom:30px;}
.footer_micro{ width:62px; height:63px; background:url(../images/bg_icon.png) no-repeat scroll -78px -255px #FFF; margin-left: 15px; border:#FFF 3px solid; border-radius:5px;}
.footer_rbox_bot{ color:#a8b3ba; margin-top: -4px;}
.footer_rbox_bot b{ font-size:18px; font-weight:normal; color:#b2e6ff;}
.footer_rbox_botl{ width:400px; float:left; font-size:14px; color:#a8b3ba}
.footer_rbox_botr{ width:180px; float:right; font-size:14px; color:#a8b3ba}
.footer_link{ width:1000px; margin:0 auto; margin-top: 20px; padding-top: 20px; border-top: 1px solid #325569;}
.footer_link_l{ float:left; width:80px; font-size: 15px; font-weight: bold; color:#49687C;}
.footer_link_r{ float:left; width:920px; font-size: 14px; line-height:25px; margin-top: -1px;}
.footer_link_r a{ color:#49687C; padding:0 8px;}
.footer_link_r a:hover{ text-decoration: underline;}
/*=======脚部结束=======*/
/*---------分页开始--------*/
.all_page{ width:600px; height:50px; margin:0 auto;padding:20px 0;text-align:center;clear:both; display:block;overflow:hidden;}
.all_page .page_container{float: left;position: relative;left: 50%;width: auto;}
.all_page span{height: 24px;line-height: 24px;margin-left:10px;cursor: pointer;}
.all_page input{width:36px;height:28px;line-height:28px;border:1px solid #dfdfdf;border-radius:2px;margin-left:10px;text-align:center;}
.page_left, .page_right{margin-bottom: -8px;display:inline-block;width:26px;height:26px;line-height:26px;text-align:center;border:1px solid #ccc;border-radius:4px; background:url(../images/icon.png) -136px -265px no-repeat; cursor:pointer;}
.page_left:hover, .page_right:hover{border:1px solid #ccc; border-radius:4px;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;}
.page_right{margin-left:12px; background:url(../images/icon.png) -165px -265px no-repeat; }
.page_go{ display:inline-block;width:26px;height:26px;line-height:26px;text-align:center;border-radius:1px;border:1px solid #CCC;margin-left:12px; border-radius:4px;background: #fff;}
 #pages .page_a{display:inline-block;width:32px;height:26px;line-height:26px;text-align:center;border-radius:1px; margin-left:12px; border:#ccc 1px solid; cursor:pointer; border-radius:4px; background: #fff;}
 #pages .cur{ border:#55a1dd 1px solid; color:#fff; font-weight:bold; background:#55a1dd;}
.details_page .page_right{margin-right:0;}
.details_page .all_page{margin-bottom:20px;}
.details_page .investment_p .investment_soon_btn{margin:0 auto;float:none;}
.investment_p{height:42px;}
#pages div a, #pages div span, #pages div input {float: left;position: relative; right:50%;}
/*---------分页结束--------*/
.current_position{ height:50px; line-height:50px; text-indent:8px; font-size: 13px;}
.current_position span{ padding:0 8px;}
/*==========弹窗开始==========*/
.Dialogue{ width:510px; background:#fff; color:#3d3d3d;}
.Dialogue h3{ height:40px; line-height:40px; background:#55a1dd; color:#FFF; font-weight:normal; text-indent:8px;}
.Dialogue h3 span{ float:left;}
.Dialogue h3 a{ width:30px; height:30px; float:right; padding-right:8px; cursor:pointer; display:block; float:right; background:url(../images/bg001.png) -10px -175px no-repeat;}
.Dialogue_page{ padding:20px 30px 30px 30px; border:#ccc 1px solid; border-top:none;}
.Dialogue_page p{ color:#3d3d3d; margin-bottom:10px; font-size:14px;}
.Dialogue_page p span{ color:#333; margin:0 5px; font-size:16px;}
.Dialogue_bpage,.Dialogue_cpage{ padding:30px ; border:#ccc 1px solid; border-top:none;}
.Dialogue_bpage p{ color:#3d3d3d; margin-bottom:10px; font-size:14px;}
.Dialogue_cpage p{ color:#3d3d3d; margin-bottom:10px; text-indent:55px; font-size:14px;}
.Dialogue_ql1{ width:75px; height:40px; line-height:40px; float:left;}
.Dialogue_ql1c{ width:90px;   float:left; text-align: right;padding-right: 10px;}
.Dialogue_txtb { width:216px;   float:left; line-height: 34px;height: 34px;}
.Dialogue_txtb input{ width:100%; height:34px; line-height:34px; text-indent:3px;  border:#ccc 1px solid;}
.Dialogue_ql3b{ margin-left:10px;  width:100px; height:36px; line-height:36px;    border:none !important; float:left; border-radius:5px;
background:#bbd9f1;  text-align:center; cursor:pointer; color:#60ace8; font-size:15px;}
.Dialogue_ql3b:hover{ background:#9cc7ea;}
.Dialogue_btnbox{ height:50px; }
.Dialogue_ql2{ width:315px; height:40px; line-height:20px; border:#ccc 1px solid; float:left;}
.Dialogue_ql2l{ float:left; width:56px; height:40px; line-height: 35px; display:block; border-right:#ccc 1px solid; background:#f8f8f8; text-align:center; color:#333; cursor:pointer; font-size:24px; color:#999; font-size:38px;}
.Dialogue_ql2r{ width:57px; height:40px; line-height: 35px; display:inline-block; border-left:#ccc 1px solid; background:#f8f8f8; text-align:center; color:#333; cursor:pointer; font-size:24px; color:#999; font-size:30px;}
.Dialogue_ql2 font{ display:block; float:left; width:185px; text-align:center; color:#333; font-size:20px; font-weight:bold;}
.Dialogue_ql3{ width:25px; height:40px; line-height:40px; float:right;}
.Dialogue_ql4{ width:55px; height:40px; line-height:40px; text-align:right; float:right; background:#0F0;}
.Dialogue_page h4{ width:100%; height:auto; line-height:30px;   color:#D04C05; font-weight:normal;width:100% ;text-align: center;padding-left: 0 !important ;}
.Dialogue_bpage h4{ clear:both; height:auto;  color:#ea5504; font-weight:normal; width:100% ;text-align: center;padding-left: 0 !important ;}
.Dialogue_cpage h4{ clear:both; height:auto;   color:#ea5504; font-weight:normal;   text-align: center; width:100% ;padding-left: 0 !important ;}
.Dialogue h2{ color:#3d3d3d; height: auto; margin-bottom: 5px; word-break: break-all; word-wrap: break-word;}
.Dialogue_w{ width:100%; height:40px; line-height:40px; clear:both;}
.Dialogue_w li{ float:left; margin-right:30px;}
.Dialogue_w li span{ color:#55a1dd;}
.Dialogue_w li span font{ font-size:18px; font-weight:bold; line-height: 20px;}
.Dialogue_e{ height:30px; line-height:30px; background:#f4f4f4; clear:both; text-indent:10px;}
.Dialogue_e li{ width:133px; float:left; }
.Dialogue_r{ clear:both; margin:5px auto; border-bottom:#55a1dd 1px solid; padding-left:10px; max-height: 120px; overflow: auto;}
.Dialogue_r li{ height:40px; line-height:40px; color:#3d3d3d;}
.Dialogue_rl{ width:120px; display:block; float:left;}
.Dialogue_rc{ width:100px; display:block; float:left; text-align:right;}
.Dialogue_rr{ width:92px; padding-right:8px; display:block; float:right; text-align:right;}
.Dialogue dl{ clear:both;}
.Dialogue dt{ height:30px; line-height:30px; margin-bottom:5px;}
.Dialogue dd{ height:30px; line-height:30px; margin: -5px 0 10px 0;}
.Dialogue dd span{ color:#ea5504; font-size:19px; margin:0 5px; font-weight:bold;}
.Dialogue dd a{ color:#55a1dd; margin-left:5px; text-decoration:underline;}
.Dialogue dd a:hover{ color:#ea5504;}
.Dialogue_btna{ width:31%;margin-left:10px;  height:40px; background:#ea5504; border:none; border-radius:5px;   color:#FFF; font-size:21px; cursor:pointer; display:block; float:left;}
.Dialogue_btnnationalDay{width:31%;margin-left:10px;  height:47px;  border:none; border-radius:5px;   color:#FFF; font-size:21px; cursor:pointer; display:block; float:left; background-color: #E7EA1C}
.Dialogue_btnnationalDay:hover{ background-color: #C6C754}
.Dialogue_btna:hover{ background:#d04c05;}
.Dialogue_btnc{ width:33%; height:40px;border-radius:5px; background:#55a1dd; border:none; color:#FFF; font-size:21px; cursor:pointer; display:block; float:left;}
.Dialogue_btnc:hover{ background:#2077bb;}
.Dialogue_in,.Dialogue_q{ height:34px; line-height:34px; margin-bottom: 18px;width:100% ;}
.Dialogue_inl1{ width:93px; float:left;text-align: right; padding-right: 10px;}
.Dialogue_intxt{width: 242px;float: left;}
.Dialogue_intxt input{ width:240px; height:34px; float:left; line-height:34px; text-indent:3px; border:#ccc 1px solid;}
.Dialogue_inl3{ width:93px; height:40px; float:left; text-align:left; padding-left: 10px;}
.Dialogue_btnd{ width:50%; height:47px; background:#55a1dd; border:none; border-radius:5px;color:#FFF; font-size:24px;cursor:pointer; clear:both;
margin: 0 auto;text-align: center;  position: relative; left:25% ;margin-top: 12px; margin-left: 0 !important ;}
.Dialogue_epage{ padding:30px 50px; border:#ccc 1px solid; border-top:none;}
.Dialogue_epage p{ padding:5px 0 10px 38px; margin-bottom: 3px;}
.Dialogue_epage h5{text-align: center;font-size: 18px;font-weight: bold;}
.Dialogue_epage div{ margin-top:10px;}
.Dialogue_btnd:hover{ background:#2077bb;}
.Dialogue_ql3c{ margin-left:10px;  width:100px; height:36px; line-height:36px;  border:none !important; float:left; border-radius:5px; background:#f8f8f8;   text-align:center; color:#9a9a9a; font-size:15px;}
.Dialogue_btne{ width:48%; height:47px; text-align:center; background:#e8e8e8; border:none; border-radius:5px;   color:#9a9a9a; font-size:22px; cursor:pointer; display:block; float:right;}
.Dialogue_btne:hover{ background:#d4d1d1; color: #fff;}
.Dialogue_h2a{ text-indent:38px;  margin-bottom:10px;background:url(../images/bg001.png) -15px -8px no-repeat;}
.Dialogue_h2b{line-height:30px; font-size:20px;}
.Dialogue_h2b span{ padding: 4px 0 4px 37px;}
.Dialogue .re_icon_plaint {background:url(../images/bg001.png) -15px -8px no-repeat; }
.Dialogue .re_icon_succ{background:url(../images/bg001.png) -15px -92px no-repeat; }
.Dialogue .re_icon_blue{background:url(../images/222.png) left 0px no-repeat; }
.touzi_window{ width:650px; background:#FFF; box-shadow:1px 1px 2px #ccc; color:#3d3d3d;z-index: 2111; position: fixed;left:50%;top:50%;margin-left: -325px;margin-top: -280px;}
.touzi_window h3{ height:40px; line-height:40px; background:#55a1dd; color:#FFF; font-weight:normal; text-indent:8px;}
.touzi_window h3 span{ float:left;}
.touzi_window h3 a{ width:30px; height:30px; float:right; padding-right:8px; cursor:pointer; display:block; float:right; background:url(../images/bg001.png) -10px -175px no-repeat;}
.touzi_window_page{ padding:10px; border:#ccc 1px solid; border-top:none; overflow:auto;}
.touzi_window_page_t{border:1px #ccc solid; padding:10px; overflow:auto; margin-bottom:20px;}
.touzi_window_page_t li{float:left; width:210px; height:25px; line-height:25px;}
.touzi_window_page_t li.tebie{width:220px; position:relative; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.touzi_window_page_t li.tebie img{position:absolute; top:6px; margin-left: 5px;}
.touzi_window_page_t li span{width:75px; display:inline-block; color:#9a9a9a;}
.touzi_window_page h4,.touzi_window_page p{clear:both; margin-bottom:10px;  font-size: 14px;}
.touzi_window_page .biaoti{height:30px; background:#f4f4f4; line-height:30px; color:#9a9a9a; }
.touzi_window_page_m li{float:left; height:25px; text-align:center; margin-bottom:8px; line-height:25px;}
.touzi_window_page_m li.m_1{ width:13%;}
.touzi_window_page_m li.m_2{ width:17%;}
.touzi_window_page_m li.m_3{ width:15%;}
.touzi_window_page_m li.m_4{ width:15%;}
.touzi_window_page_m li.m_5{ width:15%;}
.touzi_window_page_m li.m_6{ width:15%;}
.touzi_window_page_m li.m_7{ width:10%;}
.touzi_window_page_m li.m_4, li.m_5, li.m_3{ text-align:right;}
.touzi_window_page_m .liebiao{clear:both;}
.touzi_window_page .Dialogue_btnc{ margin:20px 0 20px 185px; width:240px; height:50px; font-size:24px; }
/*==========弹窗结束==========*/
.qq{position:fixed; top:280px; right:0; z-index:999999;}
.qq a{ width:52px; height:52px; background:url(../images/icon.png) 0 -95px no-repeat; display:block;}
/*============*/
.qmparent{color: #3d3d3d; display: block; text-align:center; width: 148px; height:39px; line-height:39px; border-top: 1px solid #ffffff;cursor: pointer; border-bottom:#ccc 1px dotted; position:relative;}
.qmparent span{ position:absolute; left:30px; top:41px;}
.qmparent a:hover,.qmparent a:active{color: #424244;font-size: 14px;cursor: pointer;}
.zxd_qm{ background:url(../images/bg001.gif) 25px 16px no-repeat;}
body #qm0 .qmactive, body #qm0 .qmactive:hover{ background:url(../images/bg002.gif) 25px 16px no-repeat;}
.nav3 {display: block; background: #E7E7E7;width: 148px; height:39px; line-height:39px;border-top: 1px solid #ffffff;cursor: pointer; text-align:center;}
.qmclear { font-size:1px; height:0px; width:0px;clear:left;line-height:0px;display:block;float:none;}
.qmmc div{ visibility:hidden; position:absolute;}
.qmmc a:hover{ color:#55a1dd;} 
#qm0{width:148px; border:#ccc 1px solid;}
.qmfv{visibility:visible !important;}
.qmfh{visibility:hidden !important;}
*html .qmfh{visibility:hidden; }
*+html .qmfh{visibility:hidden; display:none;}
.show{display: block;}
.hide{display: none;}
.mainbody { margin: 0 auto; padding-top: 13px; width: 1000px;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.select_height{max-height: 200px;overflow: auto;}
.common_color{color: #55a1dd !important ;font-weight: bold;}
.common_color_2{color: #55a1dd !important ;font-weight: normal;}
.header_prompt{ width: 100%; background: #CA2A2A; color: #fff; text-align: center; font-size: 18px; padding: 8px 0; display: none;}
.touzi_window_page_m{ height: 128px; overflow: auto;border: 1px solid #ccc;}
.tooltipsy{ font-size: 17px; color: #bbb; cursor: pointer;margin-left: 2px;}
.bigW{ width: 720px; margin-left: -360px;}
.smallP{ padding: 20px;}
.input_select_option_container ul{background: #ffffff; display:none; z-index: 9999;position: relative;
clear: both; border: 1px solid #f2f2f2 !important; margin: 0 !important ; padding:0 !important; }
.input_select_option_container ul li{height: 32px !important;line-height: 32px !important ; margin: 0 !important; padding: 0 !important;}
.input_select_option_container ul li a{display: block;text-indent: 10px;}
.input_select_option_container ul li a:hover{background: #f2f2f2;}
.sort_style{ margin: 0 0 0 4px;}
.account{ padding:8px;  background:#FFF; overflow: hidden; min-height: 550px;}
.account:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .account { height: 1%; }
.side{ width:150px; float:left; box-shadow:1px 0px 3px #ccc;border: 1px solid #e7e7e7 ;}
.side h3{ width:150px; height:40px; line-height:40px; background:#55a1dd; font-size:14px; font-weight:normal; color:#FFF; text-align:center;}
.side ul li{  line-height:40px; text-align:center; border-bottom:#e7e7e7 1px solid; position:relative;}
.side ul li a{display: block; color: #3d3d3d;}
.side ul li a:hover{ color: #56A0DD; }
.side ul li ul li{border-top:#e7e7e7 1px solid;border-bottom:none;background: #f2f2f2;}
.side ul li ul li a{ color: #888;}
.side ul li span{ position:absolute; left:20px; top:0;}
.side .menu_next{display: block ;}
.side .menu_first{display: block ;}
#account_sl1{ border-bottom:#FFF 1px solid;}
#account_sl1,#account_sl2{ background:#e7e7e7;}
#account_sl2 a{ color:#55a1dd;}
.border-top-1{border-top: #55a1dd 1px solid;}
/*投资弹出框收益列表宽度*/
.tender_youyi_ul li,.tender_youyi_ul_li  li span{width: 33%; text-align: center;padding: 0 !important;}

/*右侧客服、计算器*/
.kefuCalc{ width: 62px; border: 1px solid #ccc; position: fixed; top: 52%; right: 0; background: #F9F9F9; z-index: 9999999999999;_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.kf{ width: 100%; height: 71px; border-bottom: 1px solid #ccc; background:url(../images/kf.png) center 8px no-repeat #F9F9F9; color: #666; text-align: center; cursor: pointer; line-height: 116px;}
.jsq{ width: 100%; height: 71px; background:url(../images/jsq.png) center 12px no-repeat #F9F9F9; color: #666; text-align: center; line-height: 116px; cursor: pointer;}
.kf:hover{ background:url(../images/kf.png) center 8px no-repeat #eee;}
.jsq:hover{ background:url(../images/jsq.png) center 12px no-repeat #eee;}

img#code_img{width: 100px;height: 36px;}
*html{background-image:url(about:blank);background-attachment:fixed;}
.header_tit{ height: 70px; line-height: 75px; color: #3d3d3d; float: left; padding-left: 24px;}
.header_tit_r{ height: 70px; line-height: 75px; float: right; overflow: hidden;}
.mR20{ margin-right: 20px;}
.mL15{ margin-left: 15px;}
.pad-20{padding-left: 20px;}
.fourbody{ width: 100%; background: #55A1DD; padding: 50px 0;}
.sorry_404{ margin: 0 auto; width: 700px; height: 600px; background:url(../images/sorry.png) center center no-repeat; position: relative;}
.sorry_404 a{ color: #000076; font-size: 18px; text-decoration: underline;}
.sorry_404 a:hover{ color: #1D3E94;}
.sorry_404 .goInd{ position: absolute; bottom: 115px; right: 80px;}
.sorry_404 .wytz{ position: absolute; bottom: 115px; right: 170px;}
/* .fourbody{ width: 100%; background: #fff; padding: 0px 0 100px 0;}
.sorry_404{ margin: 0 auto; width: 700px; height: 700px; background:url(../images/404.jpg) center 110px no-repeat; position: relative;}
.sorry_404 span{ position: absolute; bottom: 160px; left: 180px; font-size: 17px; color: #666;}
.sorry_404 a{ color: #ea5504; font-size: 17px; text-decoration: underline; padding:0 5px;}
.sorry_404 a:hover{ color: #c13c13;} */
.color_blue{ color: #55A1DD; padding: 0 2px;}
.activity_prompt_qixi{ width: 370px; height:284px; position: fixed; bottom: 24px; right: 0; background: url(../images/qixi/qixi_index.png) center center no-repeat; cursor:pointer;
z-index: 99;_position:absolute;_bottom:auto; 
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}

.activity_prompt_nationalDay{ width: 370px; height:284px; position: fixed; bottom: 24px; right: 0; background: url(../images/nationalday/fuchuang.png) center center no-repeat; cursor:pointer;
z-index: 99;_position:absolute;_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
 
.zz{ width: 100%; height: 100%; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: #333; z-index: 10; display: none;
background:rgba(51,51,51,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f333333,endColorstr=#7f333333);zoom:1;}
:root .zz{filter:none\9;}/*for IE9*/
.promptWin{ width: 500px; height: auto; position: fixed; left: 50%; margin-left: -250px; top: 220px; z-index: 99; background: #fff; display: none;}
.promptWin_h{ background: #55a1dd; height: 40px; line-height: 40px; text-indent: 15px; color: #fff; font-size: 16px;}
.promptWin_h span{ float: right; padding-right: 15px; cursor: pointer; font-size: 24px; color: #f4f4f4;}
.promptWin_h span:hover{ color: #fff;}
.promptWin_info{ padding: 30px 20px; font-size: 16px; line-height: 28px; color: #3d3d3d; word-break: break-all;}
.promptWin_b{ padding: 0 15px 15px;}
.promptWin_btn1{ width: 180px; height: 35px; line-height: 35px; background: #55a1dd; color: #fff; font-size: 16px; float: left; border: 0; cursor: pointer;}
.promptWin_btn1:hover{ background: #4177bb;}
.promptWin_btn2{ width: 180px; height: 35px; line-height: 35px; background: #ea5504; color: #fff; font-size: 16px; float: right; border: 0; cursor: pointer;}
.promptWin_btn2:hover{ background: #cb4e0a;}
.error500{ margin: 0 auto; padding: 250px 0 0 0; font-size: 22px; width:100%; height:500px; text-align: center; color:#444;}
